<div class="edit-container">
<h1>Edit Your Blog Post For: "<%= @blog.title %>" </h1>
<hr>
<p><%= @error %></p>
<form action="/blogs/<%= @blog.id %>" method="POST">
    <input type="hidden" name="_method" value="PATCH">
    <br><label>Blog Title</label><br>
    <input type="text" name="blog[title]" value="<%= @blog.title %>"><br><br>
    
    <br><label>Author</label><br>
    <input type="text" name="blog[author]" value="<%= @blog.author %>"><br><br>
    
    <br><label>Content</label><br>
    <textarea type="textarea" name="blog[content]"><%= @blog.content %></textarea><br><br>

    <br><button type="Submit">Edit Blog</button>

</form>
</div>