
<div class="blog-container">
  <h1>Blog Entries</h1> 
  <a href="/blogs/new">Create A New Blog</a>
  <div class="blog-cards">
    <% @blogs.each do |blog| %>
        <div class="blog-card">
        <h2><a href="/blogs/<%= blog.id %>"> <%= blog.title %> </a></h2><br>
        <h3> By: <%= blog.author %></h3><br>
        <hr>
        <p><%= blog.content %></p><br>
            <div>
                <%= blog.genres.map {|genre| genre.name }.join(' ') %>
            </div>
                <% if current_user == blog.user %>
                <a href="/blogs/<%= blog.id %>/edit">Edit Post</a>
                <%end%>
        </div>
    <%end%>
    </div>
</div>
